$color: rgb(224, 203, 203);

// @mixin my-style($color) {
//   border: 1px solid $color;
// }

* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
  background: $color;
	display: grid;
	grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
}

main {
  
  background-color: rgb(131, 112, 112);

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  // display: grid;
  // grid-template-columns:  240px 240px;
	// grid-template-rows: 75px 150px 125px 125px 250px 250px 80px;
}

@media all and (min-width: 768px) and (max-width: 959px) {
  main {
    background-color: rgb(170, 148, 148);
  }
}

@media all and (min-width: 960px) {
  #root {
		grid-template-columns: 1fr 8fr 1fr;
    	grid-template-rows: 1fr 8fr 1fr;

  }
  
  main {
    background-color: rgb(153, 145, 145);

    // grid-template-columns:  200px repeat(4, 190px);
    // grid-template-rows: 100px 200px 250px 150px;  
  }
}
